name: CI Build + Unit Test

on:
  push:
    branches: ["main"]
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Build
        run: go version && go build -v ./...

      - name: Test
        # -count=2 ensures that test fixtures cleanup after themselves
        # because any leftover state will generally cause the second run to fail.
        run: go test -shuffle=on -count=2 -race -cover -timeout=5m ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - run: go mod tidy -diff

      - run: go vet ./...

      - name: Check gofmt passes
        run: |
          if [ -n "$(gofmt -l .)" ]; then
            echo "gofmt failed, please run gofmt -w ."
            exit 1
          fi
