name: CI Build + Unit Test

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Build
        run: go build -v ./...

      - name: Test
        # -count=2 ensures that test fixtures cleanup after themselves
        # because any leftover state will generally cause the second run to fail.
        run: go test -shuffle=on -count=2 -race -cover -v -timeout=5m ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Run go vet
        run: go vet ./...

      - name: Check gofmt passes
        run: |
          if [ -n "$(gofmt -l .)" ]; then
            echo "gofmt failed, please run gofmt -w ."
            exit 1
          fi
